$clr-primary:hsl(293.51,54.41%,26.67%);
$clr-dprimary: hsl(300,62.16%,14.51%);
$clr-fwhite:hsl(34, 42%, 93%);
$clr-light:hsl(0,0%,100%);
$clr-dark:hsl(0,0%,0%);
$clr-blue: #4285f4;

$ff-primary:'Raleway', sans-serif;


$break-sm: 500px;
$break-md: 760px;
$break-lg: 940px;
$break-xl: 1040px;